In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [5]:
crime_df=pd.read_csv(r'Part_1_Crime_Data.csv', low_memory=False)
crime_df.head()

,X,Y,RowID,CCNumber,CrimeDateTime,CrimeCode,Description,Inside_Outside,Weapon,Post,...,Ethnicity,Location,Old_District,New_District,Neighborhood,Latitude,Longitude,GeoLocation,PremiseType,Total_Incidents
0,-76.609534,39.318181,1,23D05796,2023/04/15 11:30:00+00,6F,LARCENY,Inside,NaN,513.0,...,NOT_HISPANIC_OR_LATINO,2500 GREENMOUNT AVE,NORTHERN,NaN,HARWOOD,39.318181,-76.609534,"(39.318181000000003,-76.609533999999996)",STREET,1
1,-76.530961,39.310944,2,23D04902,2023/04/15 21:50:00+00,6C,LARCENY,Inside,NaN,441.0,...,NaN,1500 62ND ST,NORTHEAST,NaN,PULASKI INDUSTRIAL AREA,39.310944,-76.530961,"(39.310943999999999,-76.530961000000005)",GAS STATION,1
2,-76.674519,39.313038,3,23D04906,2023/04/15 17:00:00+00,6D,LARCENY FROM AUTO,Inside,NaN,812.0,...,NOT_HISPANIC_OR_LATINO,3400 ELGIN AVE,SOUTHWEST,NaN,MOUNT HOLLY,39.313038,-76.674519,"(39.313037999999999,-76.674519000000004)",STREET,1
3,-76.664090,39.337523,4,23D04912,2023/04/15 21:15:00+00,3AF,ROBBERY,Inside,HANDGUN,614.0,...,NOT_HISPANIC_OR_LATINO,2600 PARK HEIGHTS TER,NORTHWEST,NaN,CENTRAL PARK HEIGHTS,39.337523,-76.664090,"(39.337522999999997,-76.664090000000002)",STREET,1
4,-76.661570,39.296418,5,23D03209,2023/04/11 09:25:00+00,4E,COMMON ASSAULT,Outside,PERSONAL_WEAPONS,721.0,...,NOT_HISPANIC_OR_LATINO,700 ASHBURTON ST,WESTERN,NaN,MOSHER,39.296418,-76.661570,"(39.296418000000003,-76.661569999999998)",DRUG STORE / MED BL,1

In [6]:
crime_df.shape

(603894, 23)

In [7]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603894 entries, 0 to 603893
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   X                602888 non-null  float64
 1   Y                602888 non-null  float64
 2   RowID            603894 non-null  int64
 3   CCNumber         603894 non-null  object
 4   CrimeDateTime    603894 non-null  object
 5   CrimeCode        603894 non-null  object
 6   Description      603894 non-null  object
 7   Inside_Outside   550890 non-null  object
 8   Weapon           146702 non-null  object
 9   Post             595977 non-null  float64
 10  Gender           507584 non-null  object
 11  Age              486543 non-null  float64
 12  Race             578124 non-null  object
 13  Ethnicity        76269 non-null   object
 14  Location         600484 non-null  object
 15  Old_District     567502 non-null  object
 16  New_District     28478 non-null   object
 17  Neighborhood     595331 non-null  object
 18  Latitude         602888 non-null  float64
 19  Longitude        602888 non-null  float64
 20  GeoLocation      603894 non-null  object
 21  PremiseType      550554 non-null  object
 22  Total_Incidents  603894 non-null  int64
dtypes: float64(6), int64(2), object(15)
memory usage: 106.0+ MB

In [8]:
crime_df.duplicated().sum()

0

In [9]:
crime_df.isnull().sum()

X                    1006
Y                    1006
RowID                   0
CCNumber                0
CrimeDateTime           0
CrimeCode               0
Description             0
Inside_Outside      53004
Weapon             457192
Post                 7917
Gender              96310
Age                117351
Race                25770
Ethnicity          527625
Location             3410
Old_District        36392
New_District       575416
Neighborhood         8563
Latitude             1006
Longitude            1006
GeoLocation             0
PremiseType         53340
Total_Incidents         0
dtype: int64

In [10]:
df=crime_df[['CrimeDateTime', 'Description', 'Inside_Outside', 'Weapon','Gender','Age','Race', 'Old_District', 'Neighborhood','Latitude','Longitude','PremiseType','Total_Incidents']]

In [11]:
df.shape

(603894, 13)

In [12]:
df.isnull().sum()

CrimeDateTime           0
Description             0
Inside_Outside      53004
Weapon             457192
Gender              96310
Age                117351
Race                25770
Old_District        36392
Neighborhood         8563
Latitude             1006
Longitude            1006
PremiseType         53340
Total_Incidents         0
dtype: int64

#### Inside_Outside

In [13]:
df.Inside_Outside.unique()

array(['Inside', 'Outside', nan, 'O', 'I'], dtype=object)

In [14]:
df['Inside_Outside']=df['Inside_Outside'].replace({'O': 'Outside','I': 'Inside'})

In [15]:
df.Inside_Outside.value_counts()

Inside_Outside
Outside    284058
Inside     266832
Name: count, dtype: int64

In [16]:
df = df.dropna(subset=['Inside_Outside'])

#### Weapon

In [17]:
df.Weapon.unique()

array([nan, 'HANDGUN', 'PERSONAL_WEAPONS', 'AUTOMATIC_HANDGUN',
       'BLUNT_OBJECT', 'FIREARM', 'KNIFE_CUTTING_INSTRUMENT',
       'MOTOR_VEHICLE_VESSEL', 'KNIFE', 'OTHER', 'HANDS', 'RIFLE', 'FIRE',
       'UNKNOWN', 'ASPHYXIATION', 'AUTOMATIC_FIREARM', 'OTHER_FIREARM',
       'POISON', 'SHOTGUN', 'AUTOMATIC_RIFLE', 'FIRE_INCENDIARY_DEVICE',
       'EXPLOSIVES', 'AUTOMATIC_SHOTGUN',
       'DRUGS_NARCOTICS_SLEEPING_PILLS'], dtype=object)

In [18]:
df.Weapon.isnull().sum()

414288

In [19]:
df['Weapon'].fillna('UNKNOWN', inplace=True)

In [20]:
df.Weapon.isnull().sum()

0

In [21]:
df.Weapon.value_counts()

Weapon
UNKNOWN                           415327
FIREARM                            42639
PERSONAL_WEAPONS                   29542
OTHER                              26995
KNIFE                              15156
HANDGUN                             6355
HANDS                               6201
KNIFE_CUTTING_INSTRUMENT            3246
BLUNT_OBJECT                        2177
FIRE                                2040
MOTOR_VEHICLE_VESSEL                 458
AUTOMATIC_HANDGUN                    128
ASPHYXIATION                         126
OTHER_FIREARM                        115
RIFLE                                112
SHOTGUN                               80
FIRE_INCENDIARY_DEVICE                74
AUTOMATIC_FIREARM                     61
POISON                                29
AUTOMATIC_RIFLE                       17
DRUGS_NARCOTICS_SLEEPING_PILLS         5
EXPLOSIVES                             4
AUTOMATIC_SHOTGUN                      3
Name: count, dtype: int64

#### Gender

In [22]:
df.Gender.unique()

array(['F', nan, 'M', 'Male', 'Female', 'U', 'FB', 'Transgende', 'B', ',',
       'N', 'D', 'FW', 'FU', 'W', 'FF', 'T', 'M\\', '160', '042819', 'FM',
       'A', '165', '17', '77', 'MB', '8', '120'], dtype=object)

In [23]:
df['Gender']=df['Gender'].replace({'F': 'Female', 'M':'Male','U':'Other', 
                                                    'FB':'Other', 'Transgende':'Other', 'B':'Other', ',':'Other',
                                                    'N':'Other', 'D':'Other', 'FW':'Other', 'FU':'Other', 'W':'Other', 
                                                    'FF':'Other', 'T':'Other', 'M\\':'Other', '160':'Other', '042819':'Other', 
                                                    'FM':'Other','A':'Other', '165':'Other', '17':'Other', '77':'Other', 
                                                     'MB':'Other', '8':'Other', '120':'Other'})

In [24]:
df.Gender.unique()

array(['Female', nan, 'Male', 'Other'], dtype=object)

In [25]:
df.Gender.isnull().sum()

83612

In [26]:
df.Gender.value_counts()

Gender
Female    234181
Male      221806
Other      11291
Name: count, dtype: int64

In [27]:
df['Gender'].fillna('UNKNOWN', inplace=True)

In [28]:
df.Gender.value_counts()

Gender
Female     234181
Male       221806
UNKNOWN     83612
Other       11291
Name: count, dtype: int64

In [29]:
df.shape

(550890, 13)

#### Age

In [30]:
(df.Age<0).any()

True

In [31]:
df.Age.isnull().sum()

101900

In [32]:
non_valid_age = (df['Age'] < 0) | (df['Age'] > 120)
non_valid_age.sum()

156

There are 101900 null values and also 156 invalid values for the Age column in the dataset. So, let us replace these values with mean Age.

In [33]:
#Repalce null values with the mean age
df['Age'].fillna(df[df['Age'] >= 1]['Age'].mean(), inplace=True)

In [34]:
df.Age.isnull().sum()

0

In [35]:
mean_age = df[df['Age'] > 1]['Age'].mean()
mean_age

38.153726268572534

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 550890 entries, 0 to 603893
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CrimeDateTime    550890 non-null  object
 1   Description      550890 non-null  object
 2   Inside_Outside   550890 non-null  object
 3   Weapon           550890 non-null  object
 4   Gender           550890 non-null  object
 5   Age              550890 non-null  float64
 6   Race             527227 non-null  object
 7   Old_District     518562 non-null  object
 8   Neighborhood     543220 non-null  object
 9   Latitude         549953 non-null  float64
 10  Longitude        549953 non-null  float64
 11  PremiseType      550554 non-null  object
 12  Total_Incidents  550890 non-null  int64
dtypes: float64(3), int64(1), object(9)
memory usage: 58.8+ MB

In [37]:
df[~non_valid_age].info()

<class 'pandas.core.frame.DataFrame'>
Index: 550734 entries, 0 to 603893
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CrimeDateTime    550734 non-null  object
 1   Description      550734 non-null  object
 2   Inside_Outside   550734 non-null  object
 3   Weapon           550734 non-null  object
 4   Gender           550734 non-null  object
 5   Age              550734 non-null  float64
 6   Race             527076 non-null  object
 7   Old_District     518408 non-null  object
 8   Neighborhood     543066 non-null  object
 9   Latitude         549797 non-null  float64
 10  Longitude        549797 non-null  float64
 11  PremiseType      550403 non-null  object
 12  Total_Incidents  550734 non-null  int64
dtypes: float64(3), int64(1), object(9)
memory usage: 58.8+ MB

In [38]:
df=df[~non_valid_age]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 550734 entries, 0 to 603893
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CrimeDateTime    550734 non-null  object
 1   Description      550734 non-null  object
 2   Inside_Outside   550734 non-null  object
 3   Weapon           550734 non-null  object
 4   Gender           550734 non-null  object
 5   Age              550734 non-null  float64
 6   Race             527076 non-null  object
 7   Old_District     518408 non-null  object
 8   Neighborhood     543066 non-null  object
 9   Latitude         549797 non-null  float64
 10  Longitude        549797 non-null  float64
 11  PremiseType      550403 non-null  object
 12  Total_Incidents  550734 non-null  int64
dtypes: float64(3), int64(1), object(9)
memory usage: 58.8+ MB

In [39]:
df.isnull().sum()

CrimeDateTime          0
Description            0
Inside_Outside         0
Weapon                 0
Gender                 0
Age                    0
Race               23658
Old_District       32326
Neighborhood        7668
Latitude             937
Longitude            937
PremiseType          331
Total_Incidents        0
dtype: int64

In [40]:
df.dtypes

CrimeDateTime       object
Description         object
Inside_Outside      object
Weapon              object
Gender              object
Age                float64
Race                object
Old_District        object
Neighborhood        object
Latitude           float64
Longitude          float64
PremiseType         object
Total_Incidents      int64
dtype: object

In [41]:
df['Age']=df['Age'].astype(int)

In [42]:
df.dtypes

CrimeDateTime       object
Description         object
Inside_Outside      object
Weapon              object
Gender              object
Age                  int32
Race                object
Old_District        object
Neighborhood        object
Latitude           float64
Longitude          float64
PremiseType         object
Total_Incidents      int64
dtype: object

In [43]:
df.shape

(550734, 13)

#### Race

In [44]:
df.Race.unique()

array(['WHITE', nan, 'BLACK_OR_AFRICAN_AMERICAN', 'UNKNOWN',
       'AMERICAN_INDIAN_OR_ALASKA_NATIVE', 'ASIAN',
       'NATIVE_HAWAIIAN_OR_OTHER_PACIFIC_ISLANDER'], dtype=object)

In [45]:
df.Race.value_counts()

Race
BLACK_OR_AFRICAN_AMERICAN                    295387
WHITE                                        115488
UNKNOWN                                      113184
ASIAN                                          1793
AMERICAN_INDIAN_OR_ALASKA_NATIVE                804
NATIVE_HAWAIIAN_OR_OTHER_PACIFIC_ISLANDER       420
Name: count, dtype: int64

In [46]:
df['Race'].fillna('UNKNOWN', inplace=True)

In [47]:
df.Race.value_counts()

Race
BLACK_OR_AFRICAN_AMERICAN                    295387
UNKNOWN                                      136842
WHITE                                        115488
ASIAN                                          1793
AMERICAN_INDIAN_OR_ALASKA_NATIVE                804
NATIVE_HAWAIIAN_OR_OTHER_PACIFIC_ISLANDER       420
Name: count, dtype: int64

#### Old_District

In [48]:
df.Old_District.unique()

array(['NORTHERN', 'NORTHEAST', 'SOUTHWEST', 'NORTHWEST', 'WESTERN',
       'CENTRAL', 'SOUTHEAST', 'EASTERN', 'SOUTHERN', nan], dtype=object)

In [49]:
df.Old_District.value_counts()

Old_District
NORTHEAST    79362
SOUTHEAST    71196
CENTRAL      60535
SOUTHERN     59559
NORTHERN     55843
NORTHWEST    52787
SOUTHWEST    52045
EASTERN      45362
WESTERN      41719
Name: count, dtype: int64

In [50]:
df.Old_District.isnull().sum()

32326

In [51]:
#df = df.dropna(subset=['Old_District'])
df['Old_District'].fillna('UNKNOWN', inplace=True)

In [52]:
df.shape

(550734, 13)

#### Neighborhood

In [53]:
df.Neighborhood.unique()

array(['HARWOOD', 'PULASKI INDUSTRIAL AREA', 'MOUNT HOLLY',
       'CENTRAL PARK HEIGHTS', 'MOSHER', 'MID-TOWN BELVEDERE',
       'BALTIMORE HIGHLANDS', 'DOWNTOWN', 'OLDTOWN', 'CHERRY HILL',
       'YALE HEIGHTS', 'CEDMONT', 'LAKELAND', 'FRANKFORD', 'FELLS POINT',
       'ROSEMONT HOMEOWNERS/TENANTS', 'BOLTON HILL', 'WAVERLY',
       'IRVINGTON', 'CANTON', 'PATTERSON PLACE', 'MORRELL PARK',
       'MORAVIA-WALTHER', 'SANDTOWN-WINCHESTER', 'CANTON INDUSTRIAL AREA',
       'MADISON-EASTEND', 'PENROSE/FAYETTE STREET OUTREACH',
       'FRANKLIN SQUARE', 'WOODMERE', 'GWYNNS FALLS', 'WINSTON-GOVANS',
       'ORANGEVILLE INDUSTRIAL AREA', 'BURLEITH-LEIGHTON',
       'HAMILTON HILLS', 'EAST BALTIMORE MIDWAY', 'HANLON-LONGWOOD',
       'HUNTING RIDGE', 'GARWYN OAKS', 'VIOLETVILLE', "BUTCHER'S HILL",
       'PORT COVINGTON', 'CURTIS BAY', 'OLD GOUCHER', 'WINCHESTER',
       'MILLHILL', 'SETON HILL', 'LOCH RAVEN', 'WALTHERSON',
       'CARROLL - CAMDEN INDUSTRIAL AREA', 'NORTH HARFORD ROAD',
       'LUCILLE PARK', 'NEW NORTHWOOD', 'CARE', 'GLEN', 'GLEN OAKS',
       'NORTHWEST COMMUNITY ACTION', 'MIDDLE EAST', 'BROOKLYN',
       'COLDSTREAM HOMESTEAD MONTEBELLO', 'DRUID HEIGHTS', 'IDLEWOOD',
       'DUNBAR-BROADWAY', 'HAMPDEN', 'OAKLEE', 'PARK CIRCLE', 'RIVERSIDE',
       'UPPER FELLS POINT', 'PATTERSON PARK NEIGHBORHOOD', 'HARLEM PARK',
       'EDNOR GARDENS-LAKESIDE', 'SAINT JOSEPHS', 'PARKSIDE',
       'LOWER EDMONDSON VILLAGE', 'BELAIR-EDISON', 'DICKEYVILLE', 'UPTON',
       'WASHINGTON VILLAGE/PIGTOWN', 'GREENMOUNT WEST', 'FEDERAL HILL',
       'HILLEN', 'PEN LUCY', 'PARKLANE', 'HIGHLANDTOWN', 'BETTER WAVERLY',
       'WOODBOURNE HEIGHTS', 'HOWARD PARK', 'PLEASANT VIEW GARDENS',
       'ABELL', 'JOHNSTON SQUARE', 'ARLINGTON', nan, 'CALLAWAY-GARRISON',
       'POPPLETON', 'FRANKLINTOWN ROAD', 'REMINGTON',
       'CONCERNED CITIZENS OF FOREST PARK', 'CEDONIA', 'LOCUST POINT',
       'WESTGATE', 'MOUNT VERNON', 'ALLENDALE', 'ELLWOOD PARK/MONUMENT',
       'MONTEBELLO', 'SOUTH BALTIMORE', 'HOMELAND', 'CYLBURN',
       'CHARLES NORTH', 'ASHBURTON', 'DARLEY PARK', 'MONDAWMIN',
       'CHARLES VILLAGE', 'ORCHARD RIDGE', 'GREEKTOWN', 'ROLAND PARK',
       'INNER HARBOR', 'MADISON PARK', 'KRESSON', 'HOLLINS MARKET',
       'ROGNEL HEIGHTS', "RIDGELY'S DELIGHT", 'WILSON PARK',
       'MIDDLE BRANCH/REEDBIRD PARKS', 'WOODBERRY', 'OTTERBEIN',
       'GREENSPRING', 'PARKVIEW/WOODBROOK', 'CARROLL-SOUTH HILTON',
       'MCELDERRY PARK', 'BROADWAY EAST', 'FALLSTAFF',
       'FOREST PARK GOLF COURSE', 'NEW SOUTHWEST/MOUNT CLARE',
       'MID-GOVANS', 'ROSEMONT', 'GLENHAM-BELHAR', 'EDGEWOOD',
       'LIBERTY SQUARE', 'COLDSPRING', 'OLIVER', 'SHARP-LEADENHALL',
       'WRENLANE', 'SHIPLEY HILL', 'CARROLLTON RIDGE', 'SAINT AGNES',
       'SETON BUSINESS PARK', 'BRIDGEVIEW/GREENLAWN', 'PERRING LOCH',
       'SOUTH CLIFTON PARK', 'UNIVERSITY OF MARYLAND', 'WEST HILLS',
       'EASTERWOOD', 'CAMERON VILLAGE', 'WASHINGTON HILL',
       'RESERVOIR HILL', 'HOPKINS BAYVIEW', 'WEST FOREST PARK',
       'MOUNT WASHINGTON', 'COPPIN HEIGHTS/ASH-CO-EAST', 'BOYD-BOOTH',
       'PENN NORTH', 'MILTON-MONTFORD', 'WOODBOURNE-MCCABE', 'WALBROOK',
       'UNION SQUARE', 'DORCHESTER', 'CHESWOLDE', 'EVERGREEN LAWN',
       'FOREST PARK', 'RADNOR-WINSTON', 'LOCUST POINT INDUSTRIAL AREA',
       'BEVERLY HILLS', 'WYMAN PARK', 'STADIUM AREA', 'BEREA',
       'DOWNTOWN WEST', 'GAY STREET', 'BEECHFIELD', 'MIDTOWN-EDMONDSON',
       'CROSS COUNTRY', 'LAKE WALKER', 'FRANKLINTOWN',
       'PIMLICO GOOD NEIGHBORS', 'BIDDLE STREET', 'WESTFIELD',
       'EDMONDSON VILLAGE', 'CLIFTON PARK', 'BREWERS HILL',
       'FAIRFIELD AREA', 'FAIRMONT', 'ORANGEVILLE', 'BROENING MANOR',
       'GUILFORD', 'RAMBLEWOOD', 'GROVE PARK', 'TOWANDA-GRANTLEY',
       'BARRE CIRCLE', 'DOLFIELD', 'ARCADIA', 'BAYVIEW', 'WEST ARLINGTON',
       'BARCLAY', 'WYNDHURST', 'WESTPORT', 'GRACELAND PARK',
       'PERKINS HOMES', 'JONESTOWN', 'PENN-FALLSWAY', 'EAST ARLINGTON',
       'WAKEFIELD', 'FOUR BY FOUR', 'BELVEDERE', 'LAURAVILLE',
       'ORIGINAL NORTHWOOD', 'NORTH ROLAND PARK/POPLAR HILL',
       'JONES FALLS AREA', 'LANGSTON HUGHES', 'SAINT PAUL', 'LEVINDALE',
       'TUSCANY-CANTERBURY', 'KENILWORTH PARK', 'CHINQUAPIN PARK',
       'LITTLE ITALY', 'GWYNNS FALLS/LEAKIN PARK', 'ARMISTEAD GARDENS',
       'RICHNOR SPRINGS', 'PANWAY/BRADDISH AVENUE', 'MEDFORD',
       'REISTERSTOWN STATION', 'TEN HILLS', 'HERITAGE CROSSING',
       'MEDFIELD', 'MORGAN STATE UNIVERSITY', 'JOHNS HOPKINS HOMEWOOD',
       'YORK-HOMELAND', 'HOLABIRD INDUSTRIAL PARK',
       'STONEWOOD-PENTWOOD-WINSTON', 'HOES HEIGHTS', 'ROSEMONT EAST',
       'TREMONT', 'OVERLEA', 'ROSEBANK', 'PATTERSON PARK',
       "O'DONNELL HEIGHTS", 'MOUNT WINANS', 'CENTRAL FOREST PARK',
       'MAYFIELD', 'WINDSOR HILLS', 'HAWKINS POINT', 'BELAIR-PARKSIDE',
       'EVESHAM PARK', 'CEDARCROFT', 'SAINT HELENA',
       'LOWER HERRING RUN PARK', 'MORGAN PARK', 'CARROLL PARK',
       'KERNEWOOD', 'GREENMOUNT CEMETERY', 'DRUID HILL PARK',
       'OAKENSHAWE', 'PURNELL', 'THE ORCHARDS', 'LOYOLA/NOTRE DAME',
       'EASTWOOD', 'EVERGREEN', 'LAKE EVESHAM', 'TAYLOR HEIGHTS',
       'WILHELM PARK', 'KESWICK', 'CURTIS BAY INDUSTRIAL AREA', 'UPLANDS',
       'BELLONA-GITTINGS', 'CROSS KEYS', 'SABINA-MATTFELDT',
       'SPRING GARDEN INDUSTRIAL AREA', 'VILLAGES OF HOMELAND',
       'HERRING RUN PARK', 'DUNDALK MARINE TERMINAL', 'Idlewood',
       'Howard Park', 'Gay Street', 'Uplands',
       'Penrose/Fayette Street Outreach', "Butcher's Hill", 'Westgate',
       'Edmondson Village', 'Barre Circle', 'Walbrook', 'Perring Loch',
       'Upton', 'Cameron Village', 'Gwynns Falls', 'Upper Fells Point',
       'Canton', 'Hollins Market', 'Ellwood Park/Monument', 'Beechfield',
       'Lauraville', 'Barclay', 'Central Park Heights', 'Arlington',
       'Cedonia', 'Milton-Montford', 'Pulaski Industrial Area',
       'New Northwood', 'Shipley Hill', 'Parkside', 'Frankford',
       'Loch Raven', 'Glen Oaks', 'Greektown', 'Mount Washington',
       'Windsor Hills', 'Glenham-Belhar', 'Madison Park', 'Waltherson',
       'Sandtown-Winchester', 'Winchester', 'Belair-Edison', 'Cedmont',
       'MT PLEASANT PARK', 'BLYTHEWOOD', 'Garwyn Oaks',
       'Mid-Town Belvedere', 'Saint Josephs', 'Hawkins Point',
       'Middle Branch/Reedbird Parks', 'Union Square', 'Woodmere',
       'Rognel Heights', 'Middle East', 'Hopkins Bayview',
       'Penn-Fallsway', 'Franklintown', 'New Southwest/Mount Clare',
       'Downtown'], dtype=object)

In [54]:
df.Neighborhood.isnull().sum()

7668

In [55]:
#df = df.dropna(subset=['Neighborhood'])
df['Neighborhood'].fillna('UNKNOWN', inplace=True)

In [56]:
df.shape

(550734, 13)

In [57]:
df.isnull().sum()

CrimeDateTime        0
Description          0
Inside_Outside       0
Weapon               0
Gender               0
Age                  0
Race                 0
Old_District         0
Neighborhood         0
Latitude           937
Longitude          937
PremiseType        331
Total_Incidents      0
dtype: int64

#### PremiseType

In [58]:
df.PremiseType.unique()

array(['STREET', 'GAS STATION', 'DRUG STORE / MED  BL', 'HOTEL/MOTEL',
       'OTHER/RESIDENTIAL', 'SCHOOL', 'CONVENIENCE STORE',
       'OFFICE BUILDING', 'SPECIALTY STORE', 'PUBLIC AREA', 'SHED/GARAGE',
       'RESTAURANT', 'TAVERN/NIGHT CLUB', 'OTHER - OUTSIDE     ',
       'STREET              ', 'APT/CONDO - OCCUPIED',
       'GAS STATION         ', 'ROW/TOWNHOUSE-OCC',
       'BUS/RAILROAD STATION', 'YARD', 'HOSP/NURS. HOME',
       'GARAGE ON PRIV. PROP', 'MARKET STALLS       ', 'ALLEY',
       'ROW/TOWNHOUSE-VAC', 'HOSPITAL', 'SCHOOL              ',
       'INNER HARBOR-S-KEY  ', 'CLOTHING/SHOE STORE ',
       'ATM MACHINES        ', 'RETAIL/SMALL BUSINES', 'PUBLIC BUILDING',
       'RELIGIOUS  INSTITUTI', 'LIQUOR STORE', 'OTHER - INSIDE      ',
       'PARKING LOT-OUTSIDE ', 'GROCERY/CONFECTION', 'DWELLING',
       'SHOPPING MALLS/CNTR ', 'PARK', 'VACANT BUILDING',
       'GROCERY/CONFECTION ', 'CARRY OUT', 'UNKNOWN', 'CONSTRUCTION SITE',
       'PORCH/DECK          ', 'TAVERN/NIGHT CLUB   ', 'STADIUM',
       'SHOPPING MALLS/CNTR', 'SPECIALTY STORE     ', 'DEPARTMENT STORE',
       'YARD/BUSINESS', 'BUS/AUTO            ', 'OTHER - OUTSIDE',
       'TRACTOR TRAILER     ', 'LAUNDRY/CLEANRS/SHOE',
       'LIQUOR STORE        ', 'VACANT LOT/WOODS', 'PARKING LOT',
       'BARBER/BEAUTY SHOP  ', 'PUBLIC HOUSING', 'BANK/FINANCIAL INST',
       'OTHER - INSIDE', 'FAST FOOD', 'DRIVEWAY', 'HOTEL/MOTEL         ',
       'APARTMENT HALLWAY   ', 'VEHICLE', 'WAREHOUSE           ',
       'AUTO PARTS STORE    ', 'PARKING LOT-OUTSIDE', 'SUBWAY',
       'MINI STORAGE LOCKERS', 'CLUB HOUSE/FRATERNIT', 'CAR LOT-NEW/USED',
       'SINGLE HOUSE', 'BUS. PARK LOT-OUTSID', 'APT. LOCKER/LAUNDRY',
       'DOCTORS OFFICE      ', 'CAR  REPAIR SHOP    ', 'RACE TRACK',
       'CHAIN FOOD STORE    ', 'THEATRE             ', 'BAR',
       'LIGHT RAIL          ', 'COURT HOUSE         ',
       'PARKING LOT-INSIDE  ', 'VACANT LOT/WOODS    ', 'COMMON BUSINESS',
       'FIRE DEPARTMENT     ', 'INNER HARBOR-N-PRATT',
       'JEWELRY STORE       ', 'SUBWAY              ',
       'RECREATION FACILITY', 'RAILROAD CAR/YARD   ',
       'WHOLESALE/DISC. STOR', 'STADIUM             ',
       'HOUSE UNDER CONSTRUC', 'SCHOOL PLAYGROUND   ', 'MTA LOT',
       'CONVENTION CENTER', 'BOAT YARD', 'SKYWALK             ',
       'CEMETERY            ', 'HARDWARE/BLDG. SUP. ',
       'RENTAL/VIDEO STORE  ', 'PAWN SHOP           ',
       'PIZZA/OTHER DELIVERY', 'RACE TRACK          ', 'CHURCH',
       'APT/CONDO - VACANT', 'POOL/BOWLING/AMUSE. ',
       'LIBRARY             ', 'PORCH/DECK', 'WAREHOUSE',
       'POOL/BOWLING/AMUSE.', 'ATM MACHINES', 'PENITENTIARY/JAIL',
       'NIGHT DEPOSIT', 'POLICE DEPARTMENT   ', 'SALESMAN/COLLECTORS ',
       'CAB', 'BAKERY              ', 'VACANT DWELLING', 'PUBLIC SCHOOL',
       'SHED', 'GARAGE', 'COURT HOUSE', 'PRIVATE SCHOOL',
       'DAY CARE FACILITY', 'SCHOOL PLAYGROUND', 'BUS/AUTO',
       'PARKING LOT-INSIDE', 'AUTO PARTS STORE', 'CLOTHING/SHOE STORE',
       'CHAIN FOOD STORE', 'BARBER/BEAUTY SHOP', 'POLICE DEPARTMENT',
       'CAR  REPAIR SHOP', 'PLAYGROUND/ATHLETIC ', 'APARTMENT HALLWAY',
       'INNER HARBOR-S-KEY', 'MARKET STALLS', 'BAKERY', 'DOCTORS OFFICE',
       'HARDWARE/BLDG. SUP.', 'FIRE DEPARTMENT', 'RENTAL/VIDEO STORE',
       'TRUCK DRIVERS-OIL-  ', 'BUS. PARK LOT-INSIDE',
       'STRUCTURE-OCCUPIED  ', 'BOAT/SHIP           ',
       'MAILBOX-STREET/RES. ', 'INNER HARBOR-W-LIGHT',
       'BLDG UNDER CONST.', 'MOBILE HOME', 'BUS.  STORAGE SHED',
       'PENITENTIARY/JAIL   ', 'BRIDGE-PIERS-DOCKS  ',
       'FINANCE/LOAN COMPANY', 'UTILITIES-BG&E-C&P  ',
       'MANUFACTURING PLANT ', 'PHOTO STUDIO/CAMERA ', nan,
       'TRUCKING & TRANSFER ', "BOX CARS/COMM'L TRLR", 'ARENA'],
      dtype=object)

In [59]:
df['PremiseType'] = df['PremiseType'].str.strip()

In [60]:
df.PremiseType.unique()

array(['STREET', 'GAS STATION', 'DRUG STORE / MED  BL', 'HOTEL/MOTEL',
       'OTHER/RESIDENTIAL', 'SCHOOL', 'CONVENIENCE STORE',
       'OFFICE BUILDING', 'SPECIALTY STORE', 'PUBLIC AREA', 'SHED/GARAGE',
       'RESTAURANT', 'TAVERN/NIGHT CLUB', 'OTHER - OUTSIDE',
       'APT/CONDO - OCCUPIED', 'ROW/TOWNHOUSE-OCC',
       'BUS/RAILROAD STATION', 'YARD', 'HOSP/NURS. HOME',
       'GARAGE ON PRIV. PROP', 'MARKET STALLS', 'ALLEY',
       'ROW/TOWNHOUSE-VAC', 'HOSPITAL', 'INNER HARBOR-S-KEY',
       'CLOTHING/SHOE STORE', 'ATM MACHINES', 'RETAIL/SMALL BUSINES',
       'PUBLIC BUILDING', 'RELIGIOUS  INSTITUTI', 'LIQUOR STORE',
       'OTHER - INSIDE', 'PARKING LOT-OUTSIDE', 'GROCERY/CONFECTION',
       'DWELLING', 'SHOPPING MALLS/CNTR', 'PARK', 'VACANT BUILDING',
       'CARRY OUT', 'UNKNOWN', 'CONSTRUCTION SITE', 'PORCH/DECK',
       'STADIUM', 'DEPARTMENT STORE', 'YARD/BUSINESS', 'BUS/AUTO',
       'TRACTOR TRAILER', 'LAUNDRY/CLEANRS/SHOE', 'VACANT LOT/WOODS',
       'PARKING LOT', 'BARBER/BEAUTY SHOP', 'PUBLIC HOUSING',
       'BANK/FINANCIAL INST', 'FAST FOOD', 'DRIVEWAY',
       'APARTMENT HALLWAY', 'VEHICLE', 'WAREHOUSE', 'AUTO PARTS STORE',
       'SUBWAY', 'MINI STORAGE LOCKERS', 'CLUB HOUSE/FRATERNIT',
       'CAR LOT-NEW/USED', 'SINGLE HOUSE', 'BUS. PARK LOT-OUTSID',
       'APT. LOCKER/LAUNDRY', 'DOCTORS OFFICE', 'CAR  REPAIR SHOP',
       'RACE TRACK', 'CHAIN FOOD STORE', 'THEATRE', 'BAR', 'LIGHT RAIL',
       'COURT HOUSE', 'PARKING LOT-INSIDE', 'COMMON BUSINESS',
       'FIRE DEPARTMENT', 'INNER HARBOR-N-PRATT', 'JEWELRY STORE',
       'RECREATION FACILITY', 'RAILROAD CAR/YARD', 'WHOLESALE/DISC. STOR',
       'HOUSE UNDER CONSTRUC', 'SCHOOL PLAYGROUND', 'MTA LOT',
       'CONVENTION CENTER', 'BOAT YARD', 'SKYWALK', 'CEMETERY',
       'HARDWARE/BLDG. SUP.', 'RENTAL/VIDEO STORE', 'PAWN SHOP',
       'PIZZA/OTHER DELIVERY', 'CHURCH', 'APT/CONDO - VACANT',
       'POOL/BOWLING/AMUSE.', 'LIBRARY', 'PENITENTIARY/JAIL',
       'NIGHT DEPOSIT', 'POLICE DEPARTMENT', 'SALESMAN/COLLECTORS', 'CAB',
       'BAKERY', 'VACANT DWELLING', 'PUBLIC SCHOOL', 'SHED', 'GARAGE',
       'PRIVATE SCHOOL', 'DAY CARE FACILITY', 'PLAYGROUND/ATHLETIC',
       'TRUCK DRIVERS-OIL-', 'BUS. PARK LOT-INSIDE', 'STRUCTURE-OCCUPIED',
       'BOAT/SHIP', 'MAILBOX-STREET/RES.', 'INNER HARBOR-W-LIGHT',
       'BLDG UNDER CONST.', 'MOBILE HOME', 'BUS.  STORAGE SHED',
       'BRIDGE-PIERS-DOCKS', 'FINANCE/LOAN COMPANY', 'UTILITIES-BG&E-C&P',
       'MANUFACTURING PLANT', 'PHOTO STUDIO/CAMERA', nan,
       'TRUCKING & TRANSFER', "BOX CARS/COMM'L TRLR", 'ARENA'],
      dtype=object)

In [61]:
df.PremiseType.value_counts()

PremiseType
STREET                  211341
ROW/TOWNHOUSE-OCC        95929
OTHER/RESIDENTIAL        42945
APT/CONDO - OCCUPIED     20734
PARKING LOT-OUTSIDE      17794
                         ...
DAY CARE FACILITY            5
TRUCKING & TRANSFER          5
MANUFACTURING PLANT          4
BOX CARS/COMM'L TRLR         3
TRUCK DRIVERS-OIL-           2
Name: count, Length: 127, dtype: int64

In [62]:
(df['PremiseType']=='UNKNOWN').value_counts()

PremiseType
False    545467
True       5267
Name: count, dtype: int64

In [63]:
df.PremiseType.isnull().sum()

331

In [64]:
#df = df.dropna(subset=['PremiseType'])
df['PremiseType'].fillna('UNKNOWN', inplace=True)

In [65]:
df.PremiseType.isnull().sum()

0

#### Latitude and Longitude

In [66]:
df.Latitude.isnull().sum()

937

In [67]:
df = df.dropna(subset=['Latitude'])

In [68]:
#df.Longitude.isnull().sum()

In [69]:
df.isnull().sum()

CrimeDateTime      0
Description        0
Inside_Outside     0
Weapon             0
Gender             0
Age                0
Race               0
Old_District       0
Neighborhood       0
Latitude           0
Longitude          0
PremiseType        0
Total_Incidents    0
dtype: int64

#### CrimeDateTime

In [70]:
df.CrimeDateTime.dtype

dtype('O')

In [71]:
df['CrimeDateTime']=pd.to_datetime(df['CrimeDateTime'], infer_datetime_format=True, errors='coerce')

In [72]:
df['CrimeDateTime'].dtype

datetime64[ns, UTC]

In [73]:
df.isnull().sum()

CrimeDateTime      4
Description        0
Inside_Outside     0
Weapon             0
Gender             0
Age                0
Race               0
Old_District       0
Neighborhood       0
Latitude           0
Longitude          0
PremiseType        0
Total_Incidents    0
dtype: int64

In [74]:
df = df.dropna(subset=['CrimeDateTime'])

In [75]:
df.Age.isnull().sum()

0

In [76]:
df.isnull().sum()

CrimeDateTime      0
Description        0
Inside_Outside     0
Weapon             0
Gender             0
Age                0
Race               0
Old_District       0
Neighborhood       0
Latitude           0
Longitude          0
PremiseType        0
Total_Incidents    0
dtype: int64

#### Year

In [77]:
df['Year']=df['CrimeDateTime'].dt.year
df.Year.dtype

dtype('int32')

In [78]:
df.head()

,CrimeDateTime,Description,Inside_Outside,Weapon,Gender,Age,Race,Old_District,Neighborhood,Latitude,Longitude,PremiseType,Total_Incidents,Year
0,2023-04-15 11:30:00+00:00,LARCENY,Inside,UNKNOWN,Female,56,WHITE,NORTHERN,HARWOOD,39.318181,-76.609534,STREET,1,2023
1,2023-04-15 21:50:00+00:00,LARCENY,Inside,UNKNOWN,UNKNOWN,38,UNKNOWN,NORTHEAST,PULASKI INDUSTRIAL AREA,39.310944,-76.530961,GAS STATION,1,2023
2,2023-04-15 17:00:00+00:00,LARCENY FROM AUTO,Inside,UNKNOWN,Male,56,BLACK_OR_AFRICAN_AMERICAN,SOUTHWEST,MOUNT HOLLY,39.313038,-76.674519,STREET,1,2023
3,2023-04-15 21:15:00+00:00,ROBBERY,Inside,HANDGUN,Male,54,WHITE,NORTHWEST,CENTRAL PARK HEIGHTS,39.337523,-76.664090,STREET,1,2023
4,2023-04-11 09:25:00+00:00,COMMON ASSAULT,Outside,PERSONAL_WEAPONS,Male,58,WHITE,WESTERN,MOSHER,39.296418,-76.661570,DRUG STORE / MED BL,1,2023

#### Month

In [79]:
df['Month']=df['CrimeDateTime'].dt.month
df.head()

,CrimeDateTime,Description,Inside_Outside,Weapon,Gender,Age,Race,Old_District,Neighborhood,Latitude,Longitude,PremiseType,Total_Incidents,Year,Month
0,2023-04-15 11:30:00+00:00,LARCENY,Inside,UNKNOWN,Female,56,WHITE,NORTHERN,HARWOOD,39.318181,-76.609534,STREET,1,2023,4
1,2023-04-15 21:50:00+00:00,LARCENY,Inside,UNKNOWN,UNKNOWN,38,UNKNOWN,NORTHEAST,PULASKI INDUSTRIAL AREA,39.310944,-76.530961,GAS STATION,1,2023,4
2,2023-04-15 17:00:00+00:00,LARCENY FROM AUTO,Inside,UNKNOWN,Male,56,BLACK_OR_AFRICAN_AMERICAN,SOUTHWEST,MOUNT HOLLY,39.313038,-76.674519,STREET,1,2023,4
3,2023-04-15 21:15:00+00:00,ROBBERY,Inside,HANDGUN,Male,54,WHITE,NORTHWEST,CENTRAL PARK HEIGHTS,39.337523,-76.664090,STREET,1,2023,4
4,2023-04-11 09:25:00+00:00,COMMON ASSAULT,Outside,PERSONAL_WEAPONS,Male,58,WHITE,WESTERN,MOSHER,39.296418,-76.661570,DRUG STORE / MED BL,1,2023,4

In [80]:
df['Month']=df['CrimeDateTime'].dt.month
df.head()

,CrimeDateTime,Description,Inside_Outside,Weapon,Gender,Age,Race,Old_District,Neighborhood,Latitude,Longitude,PremiseType,Total_Incidents,Year,Month
0,2023-04-15 11:30:00+00:00,LARCENY,Inside,UNKNOWN,Female,56,WHITE,NORTHERN,HARWOOD,39.318181,-76.609534,STREET,1,2023,4
1,2023-04-15 21:50:00+00:00,LARCENY,Inside,UNKNOWN,UNKNOWN,38,UNKNOWN,NORTHEAST,PULASKI INDUSTRIAL AREA,39.310944,-76.530961,GAS STATION,1,2023,4
2,2023-04-15 17:00:00+00:00,LARCENY FROM AUTO,Inside,UNKNOWN,Male,56,BLACK_OR_AFRICAN_AMERICAN,SOUTHWEST,MOUNT HOLLY,39.313038,-76.674519,STREET,1,2023,4
3,2023-04-15 21:15:00+00:00,ROBBERY,Inside,HANDGUN,Male,54,WHITE,NORTHWEST,CENTRAL PARK HEIGHTS,39.337523,-76.664090,STREET,1,2023,4
4,2023-04-11 09:25:00+00:00,COMMON ASSAULT,Outside,PERSONAL_WEAPONS,Male,58,WHITE,WESTERN,MOSHER,39.296418,-76.661570,DRUG STORE / MED BL,1,2023,4

#### Day_of_Month

In [81]:
df['day_of_month']=df['CrimeDateTime'].dt.day
df.head()

,CrimeDateTime,Description,Inside_Outside,Weapon,Gender,Age,Race,Old_District,Neighborhood,Latitude,Longitude,PremiseType,Total_Incidents,Year,Month,day_of_month
0,2023-04-15 11:30:00+00:00,LARCENY,Inside,UNKNOWN,Female,56,WHITE,NORTHERN,HARWOOD,39.318181,-76.609534,STREET,1,2023,4,15
1,2023-04-15 21:50:00+00:00,LARCENY,Inside,UNKNOWN,UNKNOWN,38,UNKNOWN,NORTHEAST,PULASKI INDUSTRIAL AREA,39.310944,-76.530961,GAS STATION,1,2023,4,15
2,2023-04-15 17:00:00+00:00,LARCENY FROM AUTO,Inside,UNKNOWN,Male,56,BLACK_OR_AFRICAN_AMERICAN,SOUTHWEST,MOUNT HOLLY,39.313038,-76.674519,STREET,1,2023,4,15
3,2023-04-15 21:15:00+00:00,ROBBERY,Inside,HANDGUN,Male,54,WHITE,NORTHWEST,CENTRAL PARK HEIGHTS,39.337523,-76.664090,STREET,1,2023,4,15
4,2023-04-11 09:25:00+00:00,COMMON ASSAULT,Outside,PERSONAL_WEAPONS,Male,58,WHITE,WESTERN,MOSHER,39.296418,-76.661570,DRUG STORE / MED BL,1,2023,4,11

#### Day_of_Year

In [82]:
df['day_of_year'] = df['CrimeDateTime'].dt.dayofyear
df.head()

,CrimeDateTime,Description,Inside_Outside,Weapon,Gender,Age,Race,Old_District,Neighborhood,Latitude,Longitude,PremiseType,Total_Incidents,Year,Month,day_of_month,day_of_year
0,2023-04-15 11:30:00+00:00,LARCENY,Inside,UNKNOWN,Female,56,WHITE,NORTHERN,HARWOOD,39.318181,-76.609534,STREET,1,2023,4,15,105
1,2023-04-15 21:50:00+00:00,LARCENY,Inside,UNKNOWN,UNKNOWN,38,UNKNOWN,NORTHEAST,PULASKI INDUSTRIAL AREA,39.310944,-76.530961,GAS STATION,1,2023,4,15,105
2,2023-04-15 17:00:00+00:00,LARCENY FROM AUTO,Inside,UNKNOWN,Male,56,BLACK_OR_AFRICAN_AMERICAN,SOUTHWEST,MOUNT HOLLY,39.313038,-76.674519,STREET,1,2023,4,15,105
3,2023-04-15 21:15:00+00:00,ROBBERY,Inside,HANDGUN,Male,54,WHITE,NORTHWEST,CENTRAL PARK HEIGHTS,39.337523,-76.664090,STREET,1,2023,4,15,105
4,2023-04-11 09:25:00+00:00,COMMON ASSAULT,Outside,PERSONAL_WEAPONS,Male,58,WHITE,WESTERN,MOSHER,39.296418,-76.661570,DRUG STORE / MED BL,1,2023,4,11,101

#### Week_of_Year

In [83]:
df['week_of_year']=df['CrimeDateTime'].dt.isocalendar().week
df.head()

,CrimeDateTime,Description,Inside_Outside,Weapon,Gender,Age,Race,Old_District,Neighborhood,Latitude,Longitude,PremiseType,Total_Incidents,Year,Month,day_of_month,day_of_year,week_of_year
0,2023-04-15 11:30:00+00:00,LARCENY,Inside,UNKNOWN,Female,56,WHITE,NORTHERN,HARWOOD,39.318181,-76.609534,STREET,1,2023,4,15,105,15
1,2023-04-15 21:50:00+00:00,LARCENY,Inside,UNKNOWN,UNKNOWN,38,UNKNOWN,NORTHEAST,PULASKI INDUSTRIAL AREA,39.310944,-76.530961,GAS STATION,1,2023,4,15,105,15
2,2023-04-15 17:00:00+00:00,LARCENY FROM AUTO,Inside,UNKNOWN,Male,56,BLACK_OR_AFRICAN_AMERICAN,SOUTHWEST,MOUNT HOLLY,39.313038,-76.674519,STREET,1,2023,4,15,105,15
3,2023-04-15 21:15:00+00:00,ROBBERY,Inside,HANDGUN,Male,54,WHITE,NORTHWEST,CENTRAL PARK HEIGHTS,39.337523,-76.664090,STREET,1,2023,4,15,105,15
4,2023-04-11 09:25:00+00:00,COMMON ASSAULT,Outside,PERSONAL_WEAPONS,Male,58,WHITE,WESTERN,MOSHER,39.296418,-76.661570,DRUG STORE / MED BL,1,2023,4,11,101,15

#### Dayname_of_week

In [84]:
df['dayname_of_week']=df['CrimeDateTime'].dt.dayofweek
day_map={0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3:'Thursday', 4: 'Friday', 5:'Saturday', 6:'Sunday'}
df['dayname_of_week']=df['dayname_of_week'].map(day_map)
df.head()

,CrimeDateTime,Description,Inside_Outside,Weapon,Gender,Age,Race,Old_District,Neighborhood,Latitude,Longitude,PremiseType,Total_Incidents,Year,Month,day_of_month,day_of_year,week_of_year,dayname_of_week
0,2023-04-15 11:30:00+00:00,LARCENY,Inside,UNKNOWN,Female,56,WHITE,NORTHERN,HARWOOD,39.318181,-76.609534,STREET,1,2023,4,15,105,15,Saturday
1,2023-04-15 21:50:00+00:00,LARCENY,Inside,UNKNOWN,UNKNOWN,38,UNKNOWN,NORTHEAST,PULASKI INDUSTRIAL AREA,39.310944,-76.530961,GAS STATION,1,2023,4,15,105,15,Saturday
2,2023-04-15 17:00:00+00:00,LARCENY FROM AUTO,Inside,UNKNOWN,Male,56,BLACK_OR_AFRICAN_AMERICAN,SOUTHWEST,MOUNT HOLLY,39.313038,-76.674519,STREET,1,2023,4,15,105,15,Saturday
3,2023-04-15 21:15:00+00:00,ROBBERY,Inside,HANDGUN,Male,54,WHITE,NORTHWEST,CENTRAL PARK HEIGHTS,39.337523,-76.664090,STREET,1,2023,4,15,105,15,Saturday
4,2023-04-11 09:25:00+00:00,COMMON ASSAULT,Outside,PERSONAL_WEAPONS,Male,58,WHITE,WESTERN,MOSHER,39.296418,-76.661570,DRUG STORE / MED BL,1,2023,4,11,101,15,Tuesday

#### Day_of_week

In [85]:
df['day_of_week']=df['CrimeDateTime'].dt.dayofweek
df.head()

,CrimeDateTime,Description,Inside_Outside,Weapon,Gender,Age,Race,Old_District,Neighborhood,Latitude,Longitude,PremiseType,Total_Incidents,Year,Month,day_of_month,day_of_year,week_of_year,dayname_of_week,day_of_week
0,2023-04-15 11:30:00+00:00,LARCENY,Inside,UNKNOWN,Female,56,WHITE,NORTHERN,HARWOOD,39.318181,-76.609534,STREET,1,2023,4,15,105,15,Saturday,5
1,2023-04-15 21:50:00+00:00,LARCENY,Inside,UNKNOWN,UNKNOWN,38,UNKNOWN,NORTHEAST,PULASKI INDUSTRIAL AREA,39.310944,-76.530961,GAS STATION,1,2023,4,15,105,15,Saturday,5
2,2023-04-15 17:00:00+00:00,LARCENY FROM AUTO,Inside,UNKNOWN,Male,56,BLACK_OR_AFRICAN_AMERICAN,SOUTHWEST,MOUNT HOLLY,39.313038,-76.674519,STREET,1,2023,4,15,105,15,Saturday,5
3,2023-04-15 21:15:00+00:00,ROBBERY,Inside,HANDGUN,Male,54,WHITE,NORTHWEST,CENTRAL PARK HEIGHTS,39.337523,-76.664090,STREET,1,2023,4,15,105,15,Saturday,5
4,2023-04-11 09:25:00+00:00,COMMON ASSAULT,Outside,PERSONAL_WEAPONS,Male,58,WHITE,WESTERN,MOSHER,39.296418,-76.661570,DRUG STORE / MED BL,1,2023,4,11,101,15,Tuesday,1

#### Hour

In [86]:
df['Hour']=df['CrimeDateTime'].dt.strftime('%H')
df.head()

,CrimeDateTime,Description,Inside_Outside,Weapon,Gender,Age,Race,Old_District,Neighborhood,Latitude,...,PremiseType,Total_Incidents,Year,Month,day_of_month,day_of_year,week_of_year,dayname_of_week,day_of_week,Hour
0,2023-04-15 11:30:00+00:00,LARCENY,Inside,UNKNOWN,Female,56,WHITE,NORTHERN,HARWOOD,39.318181,...,STREET,1,2023,4,15,105,15,Saturday,5,11
1,2023-04-15 21:50:00+00:00,LARCENY,Inside,UNKNOWN,UNKNOWN,38,UNKNOWN,NORTHEAST,PULASKI INDUSTRIAL AREA,39.310944,...,GAS STATION,1,2023,4,15,105,15,Saturday,5,21
2,2023-04-15 17:00:00+00:00,LARCENY FROM AUTO,Inside,UNKNOWN,Male,56,BLACK_OR_AFRICAN_AMERICAN,SOUTHWEST,MOUNT HOLLY,39.313038,...,STREET,1,2023,4,15,105,15,Saturday,5,17
3,2023-04-15 21:15:00+00:00,ROBBERY,Inside,HANDGUN,Male,54,WHITE,NORTHWEST,CENTRAL PARK HEIGHTS,39.337523,...,STREET,1,2023,4,15,105,15,Saturday,5,21
4,2023-04-11 09:25:00+00:00,COMMON ASSAULT,Outside,PERSONAL_WEAPONS,Male,58,WHITE,WESTERN,MOSHER,39.296418,...,DRUG STORE / MED BL,1,2023,4,11,101,15,Tuesday,1,09

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 549793 entries, 0 to 603893
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CrimeDateTime    549793 non-null  datetime64[ns, UTC]
 1   Description      549793 non-null  object
 2   Inside_Outside   549793 non-null  object
 3   Weapon           549793 non-null  object
 4   Gender           549793 non-null  object
 5   Age              549793 non-null  int32
 6   Race             549793 non-null  object
 7   Old_District     549793 non-null  object
 8   Neighborhood     549793 non-null  object
 9   Latitude         549793 non-null  float64
 10  Longitude        549793 non-null  float64
 11  PremiseType      549793 non-null  object
 12  Total_Incidents  549793 non-null  int64
 13  Year             549793 non-null  int32
 14  Month            549793 non-null  int32
 15  day_of_month     549793 non-null  int32
 16  day_of_year      549793 non-null  int32
 17  week_of_year     549793 non-null  UInt32
 18  dayname_of_week  549793 non-null  object
 19  day_of_week      549793 non-null  int32
 20  Hour             549793 non-null  object
dtypes: UInt32(1), datetime64[ns, UTC](1), float64(2), int32(6), int64(1), object(10)
memory usage: 78.1+ MB

In [88]:
df.isnull().sum()

CrimeDateTime      0
Description        0
Inside_Outside     0
Weapon             0
Gender             0
Age                0
Race               0
Old_District       0
Neighborhood       0
Latitude           0
Longitude          0
PremiseType        0
Total_Incidents    0
Year               0
Month              0
day_of_month       0
day_of_year        0
week_of_year       0
dayname_of_week    0
day_of_week        0
Hour               0
dtype: int64

In [89]:
df.shape

(549793, 21)

In [90]:
clean_df=df[df['Year']>=2013]

In [91]:
clean_df.shape

(454293, 21)

In [93]:
filepath = "clean_crime_data.csv"
clean_df.to_csv(filepath, index=False)

In [94]:
clean_df.Year.unique()

array([2023, 2022, 2021, 2020, 2019, 2018, 2017, 2024, 2016, 2015, 2014,
       2013])

In [95]:
clean_df.isnull().sum()

CrimeDateTime      0
Description        0
Inside_Outside     0
Weapon             0
Gender             0
Age                0
Race               0
Old_District       0
Neighborhood       0
Latitude           0
Longitude          0
PremiseType        0
Total_Incidents    0
Year               0
Month              0
day_of_month       0
day_of_year        0
week_of_year       0
dayname_of_week    0
day_of_week        0
Hour               0
dtype: int64